# These owners will be the default owners for everything in
# the repo, unless a later match takes precedence.
* @larssieboy18

# No CODEOWNER is needed for the not default languages located in `/locale`
/locale/

# But a CODEOWNER is necessary for the default language
/locale/en/ @larssieboy18
